version: '3.8'
services:
  app:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=airbnb
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db
      - ollama

  ollama-init:
    image: ollama/ollama:latest
    container_name: ollama-puller
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    entrypoint: /bin/sh
    command: -c "sleep 5 && ollama pull mxbai-embed-large"

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  db:
    image: pgvector/pgvector:pg16
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=airbnb
    volumes:
      - ./init_db.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  ollama_data: